.form{
   display: flex;
}

.headline h1{
   font-weight:700;
   font-size:22px;
   line-height: 25.83px;
   color: #000;
   margin-bottom: 1px;
   padding-bottom: 1px;
}

.headline p{
    font-weight:400;
    font-size: 16px;
    line-height: 18.78px; 
    color: #000;
    margin-top: 10px;
    padding-top: 0px;
 
 }